@charset "utf-8";

$color-01: #333;
$color-02: #178BE5;//うすい青
$color-03: #999;

$main-grid-01: 600/960*100%;
$main-grid-02: 20/960*100%;
$main-grid-03: 340/960*100%;
$main-grid-col03: 310/960*100%;
$main-grid-col03m: 15/960*100%;